@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  background: linear-gradient(0deg, #190439 0%, #230e4d 100%) no-repeat;
  color: #fff;
}
.link {
  color: #000;
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #382e4b; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(94, 3, 199); /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
  border: 0.1px solid #fff; /* creates padding around scroll thumb */
}
